.content {
  width: 70%;
  margin: 7% auto 1.4em auto;
}

.content--flex {
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.content-icon {
  width: 5em;
  height: 5em;
  margin: auto;
  margin-bottom: 7%;
}

.content-title {
  width: 100%;
  margin-bottom: 2.7%;

  font-size: 1.95em;
  font-weight: 700;
  color: var(--marineBlue-color);
  text-shadow: 0 0 1px var(--marineBlue-color);
  letter-spacing: 0.06em;
}

.content-title--text-center {
  text-align: center;
}

.content-info {
  width: 100%;
  
  color: var(--coolGray-color);
  margin-bottom: 9%;
}

.content-info--text-center {
  text-align: center;
  line-height: 1.5em;
}

@media screen and (max-width: 767px) {
  .content {
    width: 92%;
    height: max-content;
    padding: min(1.95em, 8.25%) min(1.6em, 6.75%);
    margin: 0;

    border-radius: 0.6em;
    background-color: var(--white-color);
    position: absolute;
    top: -16.5%;
    right: 4%;
    box-shadow: 0 15px 30px -25px var(--coolGray-color);
  }

  .content-icon {
    width: 3.43em;
    height: 3.43em;
    margin-top: 7%;
  }

  .content-title {
    font-size: 1.4em;
    margin-bottom: min(0.6em, 3.5%);
  }

  .content-info {
    line-height: 1.6em;
    margin-bottom: min(1.4em, 7%);
  }
}