.summary {
  background-color: var(--alabaster-color);
  color: var(--coolGray-color);
}

.summary-plan {
  margin: 0 6% 0 5%;
  padding: 4.5% 0 5% 0;
  border-bottom: 1px solid var(--lightGray-color);

  color: var(--marineBlue-color);
  font-weight: 700;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "title price"
    "changeBtn price";    
}

.summary-plan__title {
  grid-area: title;
  text-transform: capitalize;
}

.summary-plan__change-btn {
  grid-area: changeBtn;
  width: fit-content;
  margin-right: auto;

  background-color: inherit;
  color: var(--coolGray-color);
  text-decoration: underline;
  font-size: 0.9em;
  
  &:hover {
    cursor: pointer;
    color: var(--purplishBlue-color);
  }
}

.summary-plan__price {
  grid-area: price;
  width: fit-content;
  margin-left: auto;
}

.summary-complement {
  padding: 4.5% 6% 0 5%;
}

.summary-complement__item {
  margin-bottom: 5%;

  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
}

.summary-complement__item-price {
  color: var(--marineBlue-color);
}

.summary-total {
  padding: 5% 6% 0 5%;

  background-color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.summary-total__price {
  font-size: 1.25em;
  font-weight: 700;
  color: var(--purplishBlue-color);
}

@media screen and (max-width: 767px) {
  .summary-plan {
    margin: 0 min(1.3em, 6%) 0 min(1.1em, 5%);
    padding: min(1em, 4.5%) 0% min(1.1em, 5%) 0%;
  }

  .summary-complement {
    padding: min(1em, 4.5%) min(1.3em, 6%) 0 min(1.1em, 5%);
  }

  .summary-complement__item {
    margin-bottom: min(1.1em, 5%);
  }

  .summary-total {
    padding: min(1.1em, 5%) min(1.3em, 6%) 0 min(1.1em, 5%);
  }
}