.form {
  width: 60em;
  min-height: 38em;
  margin: auto;
  margin-top: calc(50vh - 19em);
  padding: 1em;

  display: flex;
  background-color: var(--white-color);
  border-radius: 1em;
  box-shadow: 5px 5px 20px -10px var(--lightGray-color);
}

.form-body {
  width: 70%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-btns {
  width: 70%;
  margin: auto;
  margin-bottom: 0;

  display: flex;
}

.btn {
  height: 3em;
  min-width: 7em;
  padding: 0.75em 1em;
  border-radius: 0.62em;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.prev-btn {
  margin-right: auto;

  background-color: var(--white-color);
  color: var(--coolGray-color);
  text-align: left;
  font-weight: bold;

  &:hover {
    color: var(--marineBlue-color);
    opacity: 1;
  }
}

.next-btn {
  margin-left: auto;
  color: var(--white-color);

  &.next-btn--purple-bg {
    background-color: var(--purplishBlue-color);
  }
  
  &.next-btn--blue-bg {
    background-color: var(--marineBlue-color);
  }
}

@media screen and (width < 767px) {
  .form {
    width: 100%;
    margin-top: 0;
    padding: 0;

    display: block;
    background-color: transparent;
  }

  .form-body {
    width: 100%;
    min-height: 100vh;
    margin: -3em auto auto auto;
  }

  .form-btns {
    width: 100%;
    height: 4.5em;
    margin-top: 1.5em;
    margin-bottom: 0;
    padding: 1em 5%;

    background-color: var(--white-color);
  }

  .next-btn, .prev-btn {
    font-size: 0.9em;
    border-radius: 0.3em;
  }
}